.Container {
  width: 100%; 
  display: flex;
  justify-content: center;
}

.Container-content {
  width: 960px; 
  justify-content: center;
  align-items: center
}

.Container-action {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center
}