.HotSpot {
  display: none;
  position: absolute;
  background-color: rgb(232, 44, 12, 0.4);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.HotSpot::before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  width: 19px;
  height: 19px;
  border: 2px solid rgb(232, 44, 12, 0.4);
  border-radius: 50%;
}

.Hotspot-title {
  margin-bottom: 15px;
}

.Hotspot-input {
  background-color: transparent;
  border: 0px solid;
}

.Hotspot-input--title {
  font-size: 20px;
}
