.Popper {
  position: relative;
  width: 300px;
  height: 130px;
  left: -160px;
  top: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 100;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
